{% extends 'base.html.twig' %}

{% block title %}UserGuard{% endblock %}

{% block body %}
    <h1>UserGuard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_guard.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_guard.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user_guard.roles ? user_guard.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user_guard.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_guard_index') }}">back to list</a>

    <a href="{{ path('app_user_guard_edit', {'id': user_guard.id}) }}">edit</a>

    {{ include('user_guard/_delete_form.html.twig') }}
{% endblock %}
